@import url('font-awesome/css/font-awesome.min.css');

body.fullscreen-mode {
    overflow: hidden;
}

.lEditor-container {
/*
    border-top: 1px solid #aaa;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
*/
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #000;
    text-align: left;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.lEditor-toolbar {
    color: #444; /* button color */
    background-color: #ddd;
    border-bottom: 1px solid #aaa;
    padding: 10px 5px;
    overflow-x: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.lEditor-button-group {
    display: inline-block;
    margin: 0 2px;
    border-right: 1px solid #aaa;
    padding-right: 4px;
}

.lEditor-button-group:last-child {
    border: none;
    padding-right: 0;
}

.lEditor-button {
    display: inline-block;
/*    width: 20px;*/
/*    height: 16px;*/
    margin: 0 1px;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;
}

.lEditor-button:hover, .lEditor-button-hilighted {
/*    text-shadow: 0 0 8px #999;*/
    background-color: #333;
    color: #ccc;
}

.lEditor-button-hilighted {
    
}

.lEditor-font-div, .lEditor-color-div, .lEditor-link-div {
    text-align: left;
    color: #000;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0 0 8px #aaa;
    overflow-x: hidden;
    overflow-y: auto;
}

/* font */

.lEditor-font-container {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
}

.lEditor-font-text {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 2px 0;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

.lEditor-font-text:focus {
    
}

.lEditor-font-div {
    font-size: 14px;
    width: 125px;
    height: 150px;
}

.lEditor-font-list {
    margin: 2px 0;
    padding: 0 5px;
    list-style: none;
}

.lEditor-font-list li {
    padding: 2px 1px;
    cursor: pointer;
}

.lEditor-font-list li:hover {
    background-color: #bbb;
}

/* color */

.lEditor-color-div {
    width: 140px;
    height: 140px;
    padding: 4px;
}

.lEditor-color-box {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.lEditor-color-box:hover {
    box-shadow: 0 0 4px #555;
}

/* link */

.lEditor-input-text {
    font-size: 14px;
    width: 100%;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin-top: 4px;
    padding: 2px 0;
    vertical-align: middle;
}

.lEditor-input-text:focus {
    outline: none;
    box-shadow: 0 0 4px #999;
}

.lEditor-okbutton {
    color: #fff;
    width: 100%;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #00cc86;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.lEditor-okbutton:hover {
    background-color: #00a069;
}

.lEditor-link-div {
    width: 150px;
    height: 84px;
    padding: 8px;
}

.lEditor-link-div h4 {
    font-size: 14px;
    margin: 0;
}

.lEditor-frame {
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 2px #ddd inset;
}